In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
import datetime as dt
import numpy as np
from bs4 import BeautifulSoup as bs

In [2]:
austin_key = "ks9jD1z8CH7X1yKYGc82uYO4z"
gkey = "AIzaSyApxA2x5zYpfX9mqc4QOvmwSLsJzLGIfXU"

In [6]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [7]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [8]:
def drop_austin_income():
    engine.execute("drop table austin_income")
def drop_austin_animal_outcomes():
    engine.execute("drop table austin_animal_outcomes")
def drop_austin_animal_intake():
    engine.execute("drop table austin_animal_intake")

# Web page for the income by zipcode data

In [9]:
AustinIncome_url = 'http://zipatlas.com/us/tx/austin/zip-code-comparison/median-household-income.htm'

# This web page is pretty slow. It also updates upon entry to the web page. 
# So we have to wait for the data to show up to get consistent behavior.

In [10]:
browser.visit(AustinIncome_url)
browser.is_element_present_by_id('ct100_ContentPlaceHolder1_final_content', wait_time=10)
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
browser.quit()

In [12]:
incometable = soup.select_one("table:nth-of-type(16)")
income_df = pd.read_html(str(incometable), header=0)[0]
chg_cols = {"Zip Code" : "ZipCode", "Avg. Income/H/hold": "HouseholdIncome", "National Rank" :"NationalRank"}
income_df.rename(inplace=True, columns = chg_cols)
income_df.head()

,#,ZipCode,Location,City,Population,HouseholdIncome,NationalRank
0,1.0,78730,"30.363632, -97.850355","Austin, Texas",4885,"$128,524.00",#58
1,2.0,78732,"30.382536, -97.894904","Austin, Texas",3629,"$103,951.00",#209
2,3.0,78739,"30.178839, -97.889064","Austin, Texas",8643,"$102,707.00",#227
3,4.0,78738,"30.327510, -97.989040","Austin, Texas",2840,"$102,295.00",#231
4,5.0,78733,"30.323857, -97.894860","Austin, Texas",8716,"$102,239.00",#232

In [13]:
len(income_df)

43

# Build the db from Pandas with this table
# Right now, this is just in memory, not stored. Need to decide. We could just 
# recreate every time the page is loaded.

In [14]:
engine = create_engine('sqlite://', echo=False)

In [15]:
income_df.to_sql("austin_income", con=engine, dtype={col_name: String for col_name in income_df})

In [16]:
zipcodes = engine.execute('select * from austin_income').fetchall()

In [17]:
print(type(zipcodes[0]))
print(zipcodes[0])

<class 'sqlalchemy.engine.result.RowProxy'>
(0, '1.0', '78730', '30.363632, -97.850355', 'Austin, Texas', '4885', '$128,524.00', '#58')

In [18]:
print(zipcodes[0].ZipCode)

78730

# Now to get the animal data

In [19]:

austin_url = "https://data.austintexas.gov/resource/"
dataset = "9t4d-g238.json"
api_key = austin_key

query = austin_url + dataset + "?$where=datetime > '2019-01-01T00:00:00.000'&$limit=10000"
results = requests.get(query)
results_json = results.json()
# Convert to pandas DataFrame
outcome_df = pd.DataFrame.from_records(results_json)
outcome_df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,1 year,A777234,Dog,Pit Bull Mix,Blue/White,2017-11-25T00:00:00.000,2019-01-02T00:00:00.000,2019-01-02T00:00:00.000,Tyson,Partner,Transfer,Neutered Male
1,3 years,A783891,Dog,Border Terrier,Black/Tan,2015-11-08T00:00:00.000,2019-01-16T11:28:00.000,2019-01-16T11:28:00.000,Elizabeth T,Foster,Adoption,Spayed Female
2,10 months,A788493,Dog,Standard Poodle/Labrador Retriever,Cream,2018-04-03T00:00:00.000,2019-02-07T13:12:00.000,2019-02-07T13:12:00.000,NaN,Partner,Transfer,Neutered Male
3,4 years,A789594,Dog,Chihuahua Longhair Mix,Brown/Black,2015-02-24T00:00:00.000,2019-02-26T19:33:00.000,2019-02-26T19:33:00.000,Morena,NaN,Adoption,Spayed Female
4,10 years,A566568,Dog,Harrier Mix,Brown/Black,2009-02-12T00:00:00.000,2019-02-23T11:33:00.000,2019-02-23T11:33:00.000,Duck,NaN,Adoption,Neutered Male

In [20]:
outcome_df.to_sql("austin_animal_outcomes", con=engine)

In [21]:
# outcomes = engine.execute('select * from austin_animal_outcomes').fetchall()
# pprint(outcomes)

In [22]:
dataset = "fdzn-9yqv.json"
query = austin_url + dataset + "?$where=datetime > '2019-01-01T00:00:00.000'&$limit=10000"
print(query)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = requests.get(query)
results_json = results.json()
# Convert to pandas DataFrame
intake_df = pd.DataFrame.from_records(results_json)
intake_df.head()

https://data.austintexas.gov/resource/fdzn-9yqv.json?$where=datetime > '2019-01-01T00:00:00.000'&$limit=10000

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,2 years,A786884,Dog,Beagle Mix,Tricolor,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Normal,Stray,*Brock,Neutered Male
1,3 days,A787254,Dog,Black Mouth Cur Mix,Black/White,2019-01-10T10:19:00.000,2019-01-10T10:19:00.000,2000 Man O War in Travis (TX),Normal,Stray,*Sprinkles,Intact Female
2,7 years,A760116,Dog,German Shepherd,Brown/Black,2019-01-07T12:07:00.000,2019-01-07T12:07:00.000,Austin (TX),Normal,Owner Surrender,Jasmine,Spayed Female
3,3 years,A789406,Cat,Domestic Shorthair Mix,Brown Tabby,2019-02-21T14:55:00.000,2019-02-21T14:55:00.000,Austin (TX),Normal,Public Assist,Liliana,Intact Female
4,4 years,A787054,Dog,Labrador Retriever Mix,Black/White,2019-01-24T15:17:00.000,2019-01-24T15:17:00.000,Austin (TX),Normal,Owner Surrender,*Rexx,Neutered Male

In [23]:
intake_df.to_sql("austin_animal_intake", con=engine)

# Add empty columns to the intake table for Lat/Long/Zipcode

In [24]:
engine.execute('ALTER TABLE austin_animal_intake ADD COLUMN "lat" VARCHAR')
engine.execute('ALTER TABLE austin_animal_intake ADD COLUMN "long" VARCHAR')
engine.execute('ALTER TABLE austin_animal_intake ADD COLUMN "zipcode" VARCHAR')

In [25]:
intake = engine.execute('select * from austin_animal_intake').fetchall()[1:10]
pprint(intake)

[(1, '3 days', 'A787254', 'Dog', 'Black Mouth Cur Mix', 'Black/White', '2019-01-10T10:19:00.000', '2019-01-10T10:19:00.000', '2000 Man O War in Travis (TX)', 'Normal', 'Stray', '*Sprinkles', 'Intact Female', None, None, None),
 (2, '7 years', 'A760116', 'Dog', 'German Shepherd', 'Brown/Black', '2019-01-07T12:07:00.000', '2019-01-07T12:07:00.000', 'Austin (TX)', 'Normal', 'Owner Surrender', 'Jasmine', 'Spayed Female', None, None, None),
 (3, '3 years', 'A789406', 'Cat', 'Domestic Shorthair Mix', 'Brown Tabby', '2019-02-21T14:55:00.000', '2019-02-21T14:55:00.000', 'Austin (TX)', 'Normal', 'Public Assist', 'Liliana', 'Intact Female', None, None, None),
 (4, '4 years', 'A787054', 'Dog', 'Labrador Retriever Mix', 'Black/White', '2019-01-24T15:17:00.000', '2019-01-24T15:17:00.000', 'Austin (TX)', 'Normal', 'Owner Surrender', '*Rexx', 'Neutered Male', None, None, None),
 (5, '10 years', 'A788104', 'Dog', 'Beagle Mix', 'Tricolor/Brown', '2019-01-26T14:04:00.000', '2019-01-26T14:04:00.000', '14200 Ranch Road 620 in Austin (TX)', 'Normal', 'Stray', 'Beaux', 'Neutered Male', None, None, None),
 (6, '2 years', 'A786674', 'Dog', 'Australian Shepherd Mix', 'Red/White', '2019-02-05T15:45:00.000', '2019-02-05T15:45:00.000', 'Outside Jurisdiction', 'Normal', 'Owner Surrender', 'Max', 'Neutered Male', None, None, None),
 (7, '9 years', 'A789316', 'Dog', 'Pomeranian', 'Red', '2019-02-19T12:04:00.000', '2019-02-19T12:04:00.000', 'Austin (TX)', 'Normal', 'Owner Surrender', 'Honey', 'Intact Female', None, None, None),
 (8, '3 years', 'A788881', 'Dog', 'American Pit Bull Terrier Mix', 'Blue Tiger/White', '2019-02-10T16:32:00.000', '2019-02-10T16:32:00.000', 'Mckenzie Road And Fm 973 in Austin (TX)', 'Normal', 'Stray', 'Friend', 'Neutered Male', None, None, None),
 (9, '2 years', 'A787302', 'Dog', 'Siberian Husky Mix', 'Gray/White', '2019-01-10T18:35:00.000', '2019-01-10T18:35:00.000', '7516 Peccary Drive in Austin (TX)', 'Normal', 'Stray', '*Sam', 'Neutered Male', None, None, None)]

# Code to convert address to lat/long and zip code, and add these three new columns to the intake database

In [117]:
def geo_lookup(geo_data):
    if geo_data["status"] == "OK":
        loc_dict = geo_data["results"][0]["geometry"]["location"]
        address_components = geo_data["results"][0]["address_components"]
        zipcode = False;
        for component in address_components:
            if component["types"][0] == "postal_code":
                loc_dict.update({"zipcode" : component["long_name"]})
                zipcode = True;
            elif geo_data["results"][0]["formatted_address"] == "Austin, TX, USA":
                loc_dict.update({"zipcode" : "78702"})
                zipcode = True;
            else:
                None
        if not zipcode:
            target_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng={0},{1}&key={2}").format(str(loc_dict["lat"]), str(loc_dict["lng"]), gkey + ")"
            print(target_url)
            zipdata = requests.get(target_url).json()
            pprint(zipdata)
        print(loc_dict)
        return loc_dict

In [118]:
addresses = engine.execute('select animal_id, found_location from austin_animal_intake').fetchall()

In [119]:
print(addresses[0].animal_id)

A786884

In [120]:
for address in addresses:
#     print(address.found_location)
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(address.found_location, gkey)
#     print(target_url)
    geo_data = requests.get(target_url).json()
#     pprint(geo_data)
    geo_result = geo_lookup(geo_data)
#     pprint(geo_result)
# Update the sqlite table with the new information
    if geo_result is not None:
        print(geo_result)
        update_str = "UPDATE austin_animal_intake SET lat= '" +  str(geo_result["lat"]) + "', long= '" + str(geo_result["lng"]) + "', zipcode= '" + geo_result["zipcode"] + "' WHERE animal_id='" + addresses[0].animal_id + "'"
#         print(update_str)
        engine.execute(update_str)

{'lat': 30.179488, 'lng': -97.76172799999999, 'zipcode': '78744'}
{'lat': 30.179488, 'lng': -97.76172799999999, 'zipcode': '78744'}
{'lat': 30.218981, 'lng': -97.524271, 'zipcode': '78617'}
{'lat': 30.218981, 'lng': -97.524271, 'zipcode': '78617'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.477564, 'lng': -97.7643021, 'zipcode': '78717'}
{'lat': 30.477564, 'lng': -97.7643021, 'zipcode': '78717'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.1382943, 'lng': -97.67871939999999, 'zipcode': '78719'}
{'lat': 30.1382943, 'lng': -97.67871939999999, 'zipcode': '78719'}
{'lat': 30.160186, 'lng': -97.728926, 'zipcode': '78744'}
{'lat': 30.160186, 'lng': -97.728926, 'zipcode': '78744'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.2631622, 'lng': -97.6997222, 'zipcode': '78702'}
{'lat': 30.2631622, 'lng': -97.6997222, 'zipcode': '78702'}
{'lat': 30.22405079999999, 'lng': -97.84782369999999, 'zipcode': '78749'}
{'lat': 30.22405079999999, 'lng': -97.84782369999999, 'zipcode': '78749'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.3719374, 'lng': -97.6828546, 'zipcode': '78753'}
{'lat': 30.3719374, 'lng': -97.6828546, 'zipcode': '78753'}
{'lat': 30.2763925, 'lng': -97.7164073, 'zipcode': '78702'}
{'lat': 30.2763925, 'lng': -97.7164073, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.267153, 'lng': -97.7430608, 'zipcode': '78702'}
{'lat': 30.3545586, 'lng': -97.70471649999999, 'zipcode': '78753'}
{'lat': 30.3545586, 'lng': -97.70471649999999, 'zipcode': '78753'}
{'lat': 30.42535759999999, 'lng': -97.7529038, 'zipcode': '78759'}
{'lat': 30.42535759999999, 'lng': -97.7529038, 'zipcode': '78759'}
{'lat': 30.2365125, 'lng': -97.68641079999999, 'zipcode': '78741'}
{'lat': 30.2365125, 'lng': -97.68641079999999, 'zipcode': '78741'}
{'lat': 30.3656367, 'lng': -97.69256539999999, 'zipcode': '78753'}
{'lat': 30.3656367, 'lng': -97.69256539999999, 'zipcode': '78753'}
https://maps.googleapis.com/maps/api/geocode/json?latlng=30.2248747,-97.7034758&key=AIzaSyApxA2x5zYpfX9mqc4QOvmwSLsJzLGIfXU)
{'error_message': 'The provided API key is invalid.',
 'results': [],
 'status': 'REQUEST_DENIED'}
{'lat': 30.2248747, 'lng': -97.7034758}
{'lat': 30.2248747, 'lng': -97.7034758}

KeyError: 'zipcode'

In [ ]:
print(geo_result)
update_str = "UPDATE austin_animal_intake SET lat= '" +  str(geo_result["lat"]) + "', long= '" + str(geo_result["lng"]) + "', zipcode= '" + geo_result["zipcode"] + "' WHERE animal_id='" + addresses[0].animal_id + "'"
print(update_str)
engine.execute(update_str)

In [125]:
test_df = pd.read_sql_query("SELECT * FROM austin_animal_intake WHERE zipcode != 'None'", con=engine)

In [126]:
test_df

,index,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake,lat,long,zipcode
0,0,2 years,A786884,Dog,Beagle Mix,Tricolor,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Normal,Stray,*Brock,Neutered Male,30.3656367,-97.69256539999999,78753
1,1,3 days,A787254,Dog,Black Mouth Cur Mix,Black/White,2019-01-10T10:19:00.000,2019-01-10T10:19:00.000,2000 Man O War in Travis (TX),Normal,Stray,*Sprinkles,Intact Female,30.160186,-97.728926,78744

In [127]:
test_df.to_csv("Resources/test_intake_data.csv")

In [129]:
test2_df = pd.read_sql_query("SELECT * from austin_animal_outcomes", con=engine)